body{
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.empresa{
    margin-right: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: flex-start;
}

.botoes{
    display: flex;
    gap: 40px;
    margin: auto;
    justify-content: center;
}
.acessos{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.login{
    color:grey;
}
.cadastro{
    color: white;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    margin-left: 2%;
    text-align: center;
}

main{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    color:brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}